#modal-framework-default .modal-screen-cover
    visibility visible
    position absolute
    left 0px
    top 0px
    width 100%
    height 100%
    text-align center
    transition all .25s

#modal-framework-default .modal-container
    overflow visible
    width 60%
    margin 100px auto
    text-align center
    display flex
    flex-direction column
    transition .5s ease-in-out
    border-radius 5px
    padding 0px
    background white
    border 2px solid black
    left 0%
    right 0%
    position absolute
    top 0px
    
#modal-framework-default #default-modal .header
  background-color gold
  height 5vh
  display flex
  align-items center
  font-size 1.2em
  border-radius 5px 5px 0px 0px
  display flex
  justify-content space-between
  
#modal-framework-default #default-modal .header .corner-icons
  align-self flex-start
  padding 5px

#modal-framework-default #default-modal .modal-content
    display flex
    padding 20px
    border-radius 0px
    min-height 150px
    flex-direction column
    align-items stretch
    justify-content stretch
    font-size 1.25em
    overflow visible
    box-shadow none !important
    white-space pre-wrap

#modal-framework-default #default-modal .list-group
    margin-bottom 0px

#modal-framework-default #default-modal .list-group-item
    padding-top 0px
    padding-bottom 0px

#modal-framework-default #default-modal .corner-icons
    display flex
    align-items center

#modal-framework-default #default-modal .btn-group
    padding-top 10px
    display flex
    justify-content center
    padding 10px

